// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$navbar-color: rgba(0,0,0,0.1);
$navbar-font-color: rgba(255,255,255,1);
$background: rgba(0,0,0,0.5);
$full-view-port: 100vh;
$container-color:rgba(255,255,255,0.5);

body{
  background-color: $background ;
  height: 100vh;
}



.uk-container{
  background-color: $container-color;
  padding-bottom: 30px;
}

.full-view-port{
  height: $full-view-port;
}

.form-space-element{
  margin: 30px 0;
}

.uk-navbar{
  position: absolute;
  left: 0;
  color: $navbar-font-color;
  z-index: 1;
  margin: 0;
  right: 0;
  top: calc(100vh - 70px);
  background-color: $navbar-color;
}

.uk-navbar-nav>li>a{

  color: $navbar-font-color;
  font-weight: 500;
}
.uk-overlay-panel{

  top:80vh;
  width: 60vh;
  overflow: hidden;

}



